@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  @apply h-full;
}

body {
  @apply bg-zinc-950 text-zinc-50;
}
html,
body,
#root {
  @apply min-h-screen;
}

.container {
  max-width: 85%;
  margin: 0 auto;
}

.interFont {
  font-family: "Inter", serif;
}
.active {
  background: #b9ff00;
  font-weight: bold;
}
.swiper-button-next,
.swiper-button-prev {
  color: #b9ff00 !important;
  font-size: 16px !important;
}
